.alignment, .pixelCol, .menuItem, .tileContent {
  vertical-align: top;
  display: inline-block; }

body {
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-color: #e1ddda;
  font-family: 'Monda', serif;
  color: #333; }

h3 {
  margin: 0px; }

.wrap {
  margin: 0px 0px;
  padding: 20px 20px; }

.trim, body, .pixelGrid, .pixelCol, .pixel {
  margin: 0px;
  padding: 0px; }

@media screen and (min-width: 720px) {
  .menu {
    width: 20% !important;
    margin-left: 5% !important;
    position: absolute !important;
    max-width: 230px; }
  .menuItem {
    width: 120px;
    height: 30px;
    padding: 15px 10px;
    margin: 0px 0px 0px 0px;
    background-color: #e55;
    text-align: left; }
  .content {
    margin-left: 25% !important;
    width: 75% !important; }
  .headerWrap {
    position: absolute;
    display: block; } }

.menu {
  padding: 0px;
  margin: 5px 0px;
  min-width: 160px;
  position: relative;
  display: block; }

.content {
  width: 100%;
  padding: 0px 0px;
  margin-left: 0%;
  height: auto;
  display: inline-block;
  vertical-align: top; }

.headerWrap {
  padding: 0px;
  margin: 0px auto;
  width: 160px;
  height: 160px;
  display: block;
  vertical-align: top; }

.titleHeader {
  font-weight: 800;
  font-size: 17px;
  color: #eee;
  width: 140px;
  height: 30px;
  top: 0px;
  padding: 5px 10px;
  background-color: #e55;
  position: relative;
  text-align: center; }

.pixelGrid {
  top: 0;
  position: relative; }

.pixelCol {
  height: 60px;
  width: 20px; }

.pixel {
  width: 20px;
  height: 20px;
  background-color: #e55;
  transition: 2s all; }

.selection {
  position: relative;
  margin: 5px 0px 0px 0px;
  background-color: #e88;
  display: inline-block;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

.hover {
  right: 0px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

.menuItem {
  font-weight: 800;
  font-size: 17px;
  color: #eee;
  width: 49%;
  height: 30px;
  padding: 5px 0px;
  text-align: center;
  margin: 5px 0px 5px 0px;
  background-color: #e55;
  transition: .5s all;
  position: relative; }

.GIT {
  margin-left: 2%; }

.menuItem:hover {
  background-color: #e76;
  transition: .5s all;
  cursor: pointer; }

.tile {
  width: 100%;
  height: 230px;
  width: 100%;
  padding: 0px;
  vertical-align: top;
  margin: 0px 0px 10px 0px;
  margin-bottom: 10px;
  background-color: #fff; }

.image {
  height: 230px;
  margin-left: 230px;
  background-color: #e55;
  display: block; }

.tileContent {
  width: 200px;
  padding: 15px;
  position: absolute; }
