@import "variables.scss";
@import "mixins.scss";

a{
    text-decoration: none;
    color:#333;
}

.alignment{
    vertical-align: top;
    display:inline-block;
}

body{
    width:100%;
    // min-width:500px;
    height:100%;
    @extend .trim;
    background-color: #e1ddda;
    font-family: 'Monda', serif;
    color:#333;
}

h3{
    margin:0px;
}

.wrap{
    margin:0px 0px;
    padding:0px;
}

.trim{
    margin:0px;
    padding:0px;
}

@media only screen and (min-width: 720px){

    .project.wrap{
        margin-right:0%;
        width:95%;
    }

    .wrap{
        width:90%;
        padding:0%;
        margin:5%;

        .tracker{
            opacity:0;
            display: inline-block;
            position:fixed;
            color:#fff;
            background-color: #e55;
            z-index:300;
            transition: .2s all;
            padding:10px;
            width:140px;

            h1{
                font-size: 1.5em;
                margin:0px;
            }
        }

        .menu{
            width:160px;
            margin:0px;
            position:absolute;
            display:block;

            .menuItem{
                width:130px;
                height:30px;
                padding:15px;
                margin:0px 0px 0px 0px;
                color:#333;
                border-top:3px solid #e1ddda;
                background-color:#e55;
                color:#eee;
                text-align: left;
            }

            .menuItem:hover{
                background-color:#e76;
                transition: .5s all;
            }
        }
        .content{
            margin-left:180px;
            display:block;
            width:auto;

            .aboutMe{
                text-align: center;
                width:60%;
                margin:10px auto;
            }
        }

        .menuWrap{

            .headerWrap{
                width:auto;
                margin:0px;
            }
            
            margin:0px;
            position:absolute;
            display:block;
        }
    }

}


.menu{
    padding:0px;
    margin:5px 0px;
    min-width: 160px;
    text-align:center;
    position: relative;
    display:block;
}

.tracker{
    display:none;
}

.content{
    width:100%;
    padding:0px 0px;
    margin-top:20px;
    margin-left:0%;
    height:auto;
    display: inline-block;
    vertical-align: top;
}

.headerWrap{
    width:160px;
    height:160px;
    margin:20px auto;
}

.menuWrap{
    padding:0px;
    margin:20px auto;
    margin-bottom:40px;
    width:70%;
    height:200px;
    display:block;
    vertical-align:top;
}

.titleHeader{
    @include header-font(800,17px,#eee);
    width:140px;
    height:30px;
    top:0px;
    padding:5px 10px;
    background-color: #e55;
    position:relative;
    text-align:center;
}

.pixelGrid{
    @extend .trim;
    top:0;
    position:relative;
}

.pixelCol{
    height:60px;
    width:20px;
    @extend .trim;
    @extend .alignment;
}

.pixel{
    width:20px;
    height:20px;
    @extend .trim;
    background-color:#e55;
    transition: 2s all;
}

.selection{
    position:relative;
    margin:5px 0px 0px 0px;
    background-color:#e88;
    display:inline-block;
    @include transition(.5s);
}

.hover{
    right:0px;
    @include transition(.5s);
}

.menuItem{
    @include header-font(800,17px ,#333 );
    @extend .alignment;
    width:40%;
    height:30px;
    padding:5px 0px;
    text-align: center;
    margin:5px 0px 5px 0px;
    // background-color:#e55;
    transition: .5s all;
    position:relative;
    cursor:pointer;
}

.GIT{
    margin-left:2%;
}

.tile{
    width:100%;
    height:230px;
    width:100%;
    padding:0px;
    vertical-align: top;
    margin:0px 0px 10px 0px;
    margin-bottom:10px;
    background-color: #fff;
}

.image{
    height:230px;
    margin-left:230px;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #e1ddda;
    display:block;
}

.tileContent{
    width:200px;
    padding:15px;
    position:absolute;
    @extend .alignment;
}

.description{
    margin-top:20px;
    font-size:0.9em;
}

.workContent{
    background-color: #e9e9e9;
}

//ABOUT

.aboutMe{
    text-align: center;
    margin:0px 50px;
}

.profilePic{
    border-radius: 50%;
    width:250px;
    margin:50px auto;
}

//SPROUT

.headerPage{
    color:#ddd;
    min-height:270px;
    height:auto;
    padding:10px;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #e55;
    text-align: center;
    display:block;

    p{
        width:70%;
        margin:10px auto 20px auto;
        font-size: 0.8em;
        text-align: center;
    }

    .description{
        color:#ddd;
    }

    .disclaimer{
        color:#aaa;
        font-style: italic;
        
    }
}

.workDivisionDark, .myRole{
    background-color: #232323;
    color: #ddd;
}

.center{
    text-align: center !important;
}

.workDivision{
    background-color:#eee;
    color:#333;
}

.division{
    height:auto;
    padding:10px 10px 20px 10px;
    text-align: center;

    ul{
        text-align: left;
    }

    h1{
        margin: 10px 20px 20px 20px;
    }

    h2{
        margin:0px;
    }

    .description{
        margin:10px 20px 20px 20px;
        font-size: 0.8em;
        
    }
}

@media only screen and (min-width: 720px){
    .workContent{
        .division{
            text-align: left;
            h1{
                margin:20px auto 20px auto;
                width:70%;
            }

            h2{
                margin:0px auto;
                width:70%;
            }

            .description{
                font-size:1em;
                width:70%;
                margin:10px auto 20px auto;
            }
        }

    }
}

.epdGraph{
    background-color: #fff;
    padding:20px 15%;
}

// BEO
// .product{
//     float:right;
//     margin-right:15%;
//     width:700px;
// }

.potImage{
    width:350px;
    height:700px;
    display:inline-block;
}

.potImage .base{
    z-index: 2;
    position:absolute;
    margin-right:200px;
    opacity:1;
    transition:1s all;
}

.potImage .soil{
    margin-top:415px;
}

.potImage .carbon{
    margin-top:342px;
}

.potImage .pot{
    margin-top:325px;
}

.potImage .plant{
    margin-top:32px;
}

.overlays{
    opacity:0.1;
    z-index: 3;
    position: absolute;
    transition:1s all;
}

.potText h2{
    margin-bottom:0px;
}

.potText p{
    margin-top:5px;
}