a {
  text-decoration: none; }

.alignment, .pixelCol, .menuItem, .tileContent {
  vertical-align: top;
  display: inline-block; }

body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-family: 'Monda', sans-serif;
  line-height: 1.8em;
  font-size: 1.2em;
  color: #333;
  transition: 1s all; }

h1, h2 {
  font-family: 'Monda', sans-serif; }

h3 {
  margin: 0px; }

.wrap {
  margin: 0px 0px;
  padding: 0px; }

.trim, body, .pixelGrid, .pixelCol, .pixel {
  margin: 0px;
  padding: 0px; }

@media only screen and (min-width: 720px) {
  .project.wrap {
    margin-right: 0%;
    width: 90%; }
  .workContent .division {
    text-align: left; }
    .workContent .division h1 {
      margin: 20px auto 20px auto;
      width: 70%; }
    .workContent .division h2 {
      margin: 0px auto;
      width: 70%; }
    .workContent .division .description {
      font-size: 0.9em;
      width: 70%;
      margin: 10px auto 20px auto; }
  .wrap {
    width: 90%;
    padding: 0%;
    margin: 5%; }
    .wrap .content {
      display: block;
      width: auto; }
      .wrap .content .aboutMe {
        text-align: center;
        width: 60%;
        margin: 10px auto; } }

.menuFixed {
  position: fixed;
  top: 0px; }

.menuMove {
  position: absolute;
  top: 380px; }

.content {
  width: 100%;
  padding: 0px 0px;
  margin-top: 20px;
  margin-left: 0%;
  height: auto;
  display: inline-block;
  vertical-align: top; }

.headerWrap {
  width: 160px;
  height: 160px;
  margin: 20px auto; }

.menuWrap {
  padding: 0px;
  margin: 20px auto;
  margin-bottom: 40px;
  width: 100%;
  height: 180px;
  width: 180px;
  display: block;
  vertical-align: top; }

.titleHeader {
  font-weight: 800;
  font-size: 17px;
  color: #eee;
  width: 140px;
  height: 30px;
  top: 0px;
  padding: 5px 10px;
  background-color: #e1ddda;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: .2s all; }

.titleHeader.dark {
  color: #333; }

.pixelGrid {
  top: 0;
  position: relative; }

.pixelCol {
  height: 60px;
  width: 20px; }

.pixel {
  width: 20px;
  height: 20px;
  background-color: #e55;
  transition: 2s all; }

.selection {
  position: relative;
  margin: 5px 0px 0px 0px;
  background-color: #e88;
  display: inline-block;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

.menuItem {
  font-weight: 800;
  font-size: 17px;
  color: #333;
  width: 40%;
  height: 30px;
  padding: 5px 0px;
  text-align: center;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
  transition: .5s all;
  position: relative;
  cursor: pointer; }

.menuItem.white {
  color: #fff; }

.GIT {
  margin-left: 2%; }

.tile {
  height: 280px;
  width: 100%;
  padding: 0px;
  vertical-align: top;
  margin: 0px 0px 15px 0px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: .2s all;
  border-radius: 5px; }

.button {
  font-size: 0.8em;
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  transition: .2s all; }

.hover {
  color: #fff;
  transition: .5s all; }

.hover.sprout {
  background-color: #7fb049;
  transition: .5s all; }

.hover.glass {
  background-color: #4080bb;
  transition: .5s all; }

.hover.firefly {
  background-color: #e55;
  transition: .5s all; }

.hover.beo {
  background-color: #555;
  transition: .5s all; }

.image {
  height: 280px;
  margin-left: 230px;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #e1ddda;
  border-radius: 0px 5px 5px 0px;
  display: block;
  position: relative; }

.tileContent {
  width: 200px;
  padding: 15px;
  position: absolute;
  line-height: 1.2em; }

.description {
  margin-top: 20px;
  position: relative;
  font-size: 0.9em;
  font-family: 'Jaldi', sans-serif; }

.aboutMe {
  text-align: center;
  margin: 0px 50px; }

.profilePic {
  border-radius: 50%;
  width: 250px;
  margin: 50px auto; }

.headerPage {
  color: #fff;
  font-family: 'Monda', sans-serif;
  min-height: 250px;
  height: auto;
  padding: 50px 10px;
  background-size: cover;
  text-align: center;
  display: block; }
  .headerPage p {
    width: 70%;
    margin: 10px auto 20px auto;
    font-size: 1em;
    text-align: center; }
  .headerPage .description {
    color: #ddd; }
  .headerPage .disclaimer {
    color: #aaa;
    font-style: italic;
    font-size: 0.7em;
    line-height: 1.3em;
    bottom: 10px; }

.workDivisionDark, .myRole {
  background-color: #232323;
  color: #ddd;
  line-height: 1.8em;
  font-size: 1em; }

.center {
  text-align: center !important; }

.workDivision {
  background-color: #fff;
  color: #333; }

.division {
  height: auto;
  padding: 80px 10px 70px 10px;
  font-family: 'Jaldi', serif; }
  .division ul {
    text-align: left; }
  .division h1, .division h2 {
    margin: 10px 20px 20px 20px; }
  .division .description {
    margin: 10px 20px 20px 20px;
    font-size: 0.8em; }

@media only screen and (min-width: 1600px) {
  .content .tile {
    width: 48%;
    display: inline-block;
    margin: 0% 1% 2% 1%; }
  .wrap {
    max-width: 1600px;
    margin: 5% auto !important; }
    .wrap .tracker {
      opacity: 0;
      display: inline-block;
      position: fixed;
      top: 5%;
      color: #fff;
      background-color: #e1ddda;
      font-family: 'Monda', sans-serif;
      z-index: 300;
      transition: .2s all;
      padding: 10px 4px 10px 16px;
      width: 30px;
      cursor: pointer; }
      .wrap .tracker p {
        font-size: 0.7em;
        margin: 0px; }
      .wrap .tracker h1 {
        font-size: 1.2em;
        margin: 0px; } }

.epdGraph {
  background-color: #fff;
  padding: 20px 15%; }

.bullet {
  font-weight: 600;
  font-size: 0.5em;
  left: -15px;
  position: absolute; }

.plus {
  color: #2e8b57;
  line-height: 1.4em;
  font-size: 1.2em; }

.minus {
  color: #b22222;
  font-size: 1.2em;
  line-height: 1.4em; }

.kpi {
  width: 100%;
  display: inline-block;
  margin: 0px;
  vertical-align: middle; }

.kpiInfo {
  display: inline-block;
  vertical-align: top;
  width: 60%; }

.bannerWrap {
  width: 100%;
  position: relative;
  text-align: center; }

.seeMore {
  position: absolute;
  left: 45%;
  width: 40%;
  top: 20%;
  color: #333;
  font-family: 'Jaldi', sans-serif;
  background-color: #fff;
  padding: 10px;
  transition: .2s all; }

.img {
  width: 100%;
  display: block;
  margin: 0px auto; }

.glassProcess {
  content: url("../media/glass/process_vertical.png");
  width: 100%; }

@media screen and (min-width: 1200px) {
  .glassProcess {
    content: url("../media/glass/process.png"); }
  .content .tile {
    width: 48%;
    display: inline-block;
    margin: 0% 1% 2% 1%; }
  .division .stakeholder {
    width: 49%;
    display: inline-block; } }

.stakeholder {
  width: 100%;
  vertical-align: top;
  margin-bottom: 20px; }

.potImage {
  width: 30%;
  display: inline-block; }

.potImage .base {
  z-index: 2;
  position: absolute;
  margin-right: 200px;
  opacity: 1;
  transition: 1s all; }

.potImage .soil {
  margin-top: 415px; }

.potImage .carbon {
  margin-top: 342px; }

.potImage .pot {
  margin-top: 325px; }

.potImage .plant {
  margin-top: 32px; }

.overlays {
  opacity: 0.1;
  z-index: 3;
  position: absolute;
  transition: 1s all; }

.potText h2 {
  margin-bottom: 0px; }

.potText p {
  margin-top: 5px; }
