@import "variables.scss";
@import "mixins.scss";

/* devanagari */
@font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    src: local('Jaldi'), local('Jaldi-Regular'), url(https://fonts.gstatic.com/s/jaldi/v4/or3sQ67z0_CI33NSbJHdBLg9pzo.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    src: local('Jaldi'), local('Jaldi-Regular'), url(https://fonts.gstatic.com/s/jaldi/v4/or3sQ67z0_CI33NdbJHdBLg9pzo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    src: local('Jaldi'), local('Jaldi-Regular'), url(https://fonts.gstatic.com/s/jaldi/v4/or3sQ67z0_CI33NTbJHdBLg9.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* devanagari */
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 700;
    src: local('Jaldi Bold'), local('Jaldi-Bold'), url(https://fonts.gstatic.com/s/jaldi/v4/or3hQ67z0_CI33voSYTxJrUXnTPmvks.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 700;
    src: local('Jaldi Bold'), local('Jaldi-Bold'), url(https://fonts.gstatic.com/s/jaldi/v4/or3hQ67z0_CI33voSYT-JrUXnTPmvks.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 700;
    src: local('Jaldi Bold'), local('Jaldi-Bold'), url(https://fonts.gstatic.com/s/jaldi/v4/or3hQ67z0_CI33voSYTwJrUXnTPm.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



a{
    text-decoration: none;
    -moz-text-decoration-color: #333;
    color:inherit;
}

a:visited{
    color:#333;
    transition: 0.3s color;
}

a:hover{
    color:#777;
    transition: 0.3s color;
}

body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    background-color: #eee;
    font-family: 'Jaldi', sans-serif;
    line-height: 1.6em;
    font-size: 1.2em;
    color:#333;
    transition:1s all;
}

h1, h2, h3{
    font-family: 'Jaldi', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h3{
    margin:0px;
}

.wrap{
    margin:0px 0px;
    padding:0px;
}

.trim{
    margin:0px;
    padding:0px;
}

.kpi{
    width:95%;
    display: inline-block;
    text-align: center;
    margin:0px 2%;
    vertical-align: top;
}

.kpiInfo{
    max-width:400px;
    width:100%;
    font-size: 0.9em;
    margin:0px auto;
    line-height:1.5;
}

.kpiTitle{
    font-size:1.1em;
    font-weight: bold;
    margin-bottom:0px;
}

.source{
    font-size: 0.7em !important;
    font-style: italic;
    color: #ccc;
    text-align:right;
}

.icon{
    width:100%;
    max-width:150px;
    margin:0px auto;
}

.intro{
    // padding-left:70px;
    text-align:center;
    .mainTitle{
        font-family: 'Jaldi', sans-serif;
        line-height:1;
        font-size: 3em;
        font-weight:800;
        margin:50px 0px 50px 0px;
    }

    .aboutMeSmall{
        line-height:1.2;
        margin:20px auto 40px auto;
        max-width:450px;
        font-size:0.9em;
    }

}

.aboutIntro{
    .profileImg{
        margin:0px auto;
        width:250px;
        display:block;
        border-radius:4px;
        text-align: center;

        .profilePhoto{
            width:100%;
        }

        .profileCaption{
            font-family: 'Indie Flower', cursive;
            font-size:0.9em;
            font-weight:600;
            margin:0px;
        }

    }


    .aboutMe{
        margin:40px 40px 0px 40px;
        font-size:0.9em;
        display:inline-block;
        vertical-align:top;
        line-height:1.8;
        max-width:80%;
        a{
            font-weight:800;
        }
    }

    .title{
        font-family: 'Indie Flower', cursive;
        font-weight:800;
        font-size:3em;
        margin-top:0px;
        margin-left:40px;
        line-height:1;
    }
}

.menu{
    text-transform: uppercase;
    text-align: center;
    margin-top:20px;
    p {
        color:#777;
        display: inline-block;
        font-size: 0.8em;
        margin:0px 5px 0px 5px;
        padding:3px;
        cursor:pointer;
        transition: .2s all;
    }
    p:hover{
        color:#333;
        transition: .2s all;
    }
}

@media only screen and (min-width: 720px){

    .menu{
        margin-top:0px;
        text-align: right;
        
    }

    .intro{
        padding-left:0px;
        text-align: left !important;
        .aboutMeSmall{
            margin: 0px 0px 40px 0px;
        }
    }

    .divide{
        text-align:left !important;
    }

    .project.wrap{
        margin-right:0%;
        width:80%;
    }

    .workContent{

        .division{
            text-align: left;
            h1{
                margin:20px auto 20px auto;
                width:70%;
            }

            h2,h3{
                margin:0px auto;
                width:70%;
            }

            .description{
                font-size:0.9em;
                width:70%;
                margin:10px auto 20px auto;
                .smallImg{
                    width:45%;
                    margin:2%;
                }
            }
        }

        .bannerWrap{
            .seeMore{
                top:25%;
                font-size:0.9em;
                line-height:2em;
            }
        }
    }

    .wrap{
        width:80%;
        padding:0%;
        margin:5% 10%;
        
        .content{
            display:block;
            width:auto;

            .tile{
                border-radius: 5px;

                .tileContent{
                    width:auto;
                    padding:15px 0px 15px 0px;
                    position:absolute;
                    line-height:1em;
                    color:#333;
                    .description{
                        margin-top:8px !important;
                    }
                }
                .image{
                    margin-left:0px;
                    border-radius: 5px 5px 5px 5px;
                }
            }
        }
    }
}

@media only screen and (min-width:900px){
    .division{
        .kpi{
            width:28%;  
            margin:0px 2% 10px 2%; 
        }
    }

    .aboutIntro{
        padding-left:70px !important;
        .title{
            margin-left:0px;
        }
        .aboutMe{
            margin:0px 0px 0px 20px;
            font-size:0.9em;
            line-height:1.5;
            max-width:40%;
        }
        .profileImg{
            display:inline-block;
            width:50%;
            max-width:400px;
        }
    }

}

@media only screen and (max-width:600px){
    .menuWrap{
        .return{
            left:-10px !important;
        }
    }
    .footer{
        .return{
            left:-20px !important;
        }
    }
}

@media screen and (min-width: 1200px) {
    .glassProcess{
        content:url("../media/glass/process.png") !important;
    }

   .intro{
       padding-left:19px;
        .aboutMe{
            margin:0px 0px 0px 50px;
        }
    }

    .menu{
        margin-right:15px;
    }

    .menuWrap{
        .return{
            left:-150px !important;
        }
    }

    .content{
        .tile{
            width:46%;
            display: inline-block;
            margin: 0% 2% 4% 2%;
        }
        // margin-left: 180px;
        
    }

    .division{
        .stakeholder{
            width:49%;
            display: inline-block;
        }
    }

    .workContent{
        .bannerWrap{
            .seeMore{
                top:35%;
                font-size:1em;
                line-height: 2em;
            }
        }
    }
}

@media only screen and (min-width: 1400px){
    .content{
        .tile{
            width:46%;
            display: inline-block;
            margin: 0% 2% 4% 2%;
        }
    }

   .intro{
        .aboutMe{
            margin:0px 0px 0px 80px;
        }
    }

    .wrap{
        max-width:1200px;
        margin:5% auto !important;

        .tracker{
            opacity:0;
            display: inline-block;
            position:fixed;
            top:5%;
            color:#fff;
            background-color: $bg;
            font-family: 'Monda', sans-serif;
            z-index:300;
            transition: .2s all;
            padding:10px 4px 10px 16px;
            width:30px;
            cursor:pointer;
            
            p{
                font-size: 0.7em;
                margin:0px;
            }

            h1{
                font-size: 1.2em;
                margin:0px;
            }
        }

    }
}

.content{
    width:100%;
    padding:0px 0px;
    margin-top:20px;
    margin-left:0%;
    height:auto;
    display: inline-block;
    vertical-align: top;
}

.footer{
    width:300px;
    margin:0px auto;
    text-align: center;
}

.menuWrap{
    padding:0px;
    margin:20px auto;
    margin-bottom:40px;
    height:180px;
    width:380px;
    display:block;

    .return{
        display:inline-block;
        width:100px;
        vertical-align: top;
        font-size:0.9em;
        color:#888;
        line-height: 1em;
        text-align: center;
        margin-top:70px;
        left:-100px;
        position:relative;
        cursor:pointer;
        transition: .5s all;
        -webkit-user-select: none;
        .rop{
            display:inline-block;
            font-size:0.9em;
            font-family: 'Jaldi', sans-serif;
            transition: .5s all;
        }
        .arrow{
            display: inline-block;
            top:-3px;
            transition: .5s all;
            left:0px;
            font-weight:400;
            color:#aaa;
        }
    }

    .return:hover .arrow{
        left:-10px;
        color:#222;
        transition: .5s all;
    }
    
    .return:hover .rop{
        color:#222;
        transition: .5s all;
    }

}

.titleHeader{
    @include header-font(800,17px,#eee);
    width:140px;
    height:30px;
    top:0px;
    padding:5px 10px;
    background-color: $bg;
    position:relative;
    text-align:center;
    cursor:pointer;
    background-color: #323232;
    transition: .2s all;
}

.titleHeader.dark{
    color:#333;
}

.pixels{
    .pixelGrid{
        margin:0px;
        padding:0px;
        top:0;
        position:relative;
    }

    .pixelCol{
        height:60px;
        width:20px;
        margin:0px;
        padding:0px;
        vertical-align: top;
        display:inline-block;
    }

    .pixel{
        width:20px;
        height:20px;
        margin:0px;
        padding:0px;
        background-color:#323232;
        transition: 2s all;
    }
}


.selection{
    position:relative;
    margin:5px 0px 0px 0px;
    background-color:#e88;
    display:inline-block;
    @include transition(.5s);
}

.tile{
    height:320px;
    width:100%;
    padding:0px;
    vertical-align: top;
    margin:0px 0px 15px 0px;
    margin-bottom:35px;
    // background-color: #fff;
    transition: .2s all;
    border-radius: 0px;
    a:hover{
        color:#fff;
    }
}

.slider{
    height:6px;
    border-radius: 0px 0px 5px 5px;
    width:0%;
    display: block;
    position: relative;
    top: -5px;

}

.image{
    height:220px;
    // margin-left:180px;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #e1ddda;
    border-radius: 0px;
    display:block;
    position: relative;
}

.tileContent{
    width:auto;
    padding:15px 15px 15px 15px;
    position:absolute;
    vertical-align: top;
    display:inline-block;
    line-height:1em;
    color:#333;
    .description{
        margin-top:8px !important;
    }
}

.divide{
    margin:15px 1% 15px 1%;
    text-align:center;
    color:#999;
    font-size:0.8em;
}

.button{
    font-size: 0.8em;
    background-color:#fff;
    color:#333;
    text-align: center;
    border-radius: 5px;
    padding:10px;
    width:100px;
    position: absolute;
    right:30px;
    bottom:30px;
    cursor: pointer;
    transition: .2s all;
}

.hover .slider{
    width:100%;
    transition:.2s all;
}

.mrcd{
    background-color: rgb(232, 163, 25);
    transition:.2s background-color;
}

.sprout{
    background-color: rgb(127,176,73);
    transition:.2s background-color;
}

.glass{
    background-color: rgb(64,128,187);
    transition:.2s background-color;
}

.firefly{ 
    background-color: #e55;
    transition:.2s background-color;
}

.beo{
    background-color: #666;
    transition:.2s background-color;
}

.glassBG{
    background-color: rgb(64,128,187);
    color:#eee;
}

.sproutBG{
    background-color: rgb(110, 151, 63);
    color:#ddd;
}

.description{
    margin-top:20px;
    position:relative;
    font-size:0.9em;
    font-family: 'Jaldi', sans-serif;
}

//SPROUT

.fullLook{
    min-height:100px !important;
    padding:30px 10px !important; 
}

.headerPage.big{
    height:195px !important
}

.headerPage, .fullLook{
    color:#fff;
    font-family: 'Monda', sans-serif;
    min-height:140px;
    height:auto;
    padding:50px 10px;
    background-size: cover;
    text-align: center;
    display:block;
    line-height:1.2;

    p{
        width:70%;
        margin:10px auto 20px auto;
        font-size: 1em;
        text-align: center;
    }

    .description{
        color:#ddd;
    }

    .disclaimer{
        color:#aaa;
        font-style: italic;
        font-size:0.7em;
        line-height: 1.3em;
        bottom:10px;
    }
}

.workDivisionDark, .myRole{
    background-color: #232323;
    color: #eee;
    line-height: 1.8em;
    font-size:1em;
    
}

.center{
    text-align: center !important;
}

.workDivision{
    background-color:#fff;
    color:#333;
}

.division{
    height:auto;
    padding:80px 10px 70px 10px;
    // text-align: center;
    font-family: 'Jaldi', serif; //lora

    ul{
        text-align: left;
    }

    h1, h2, h3{
        margin: 10px 20px 20px 20px;
        line-height:1.4em;
    }

    

    .description{
        margin:10px 20px 20px 20px;
        font-size: 0.8em;
        
    }
}

.epdGraph{
    background-color: #fff;
    padding:20px 15%;
}

.bullet{
    font-weight: 600;
    font-size: 0.5em;
    left:-15px;
    position: absolute;
}

.plus{
    color:#2e8b57;
    line-height:1.4em;
    font-size: 1.2em;
}

.minus{
    color:#b22222;
    font-size: 1.2em;
    line-height:1.4em;
}


.bannerWrap{
    width:100%;
    position: relative;
}

.seeMore{
    position: absolute;
    left:35%;
    top:20%;
    color:#333;
    font-family: 'Jaldi', sans-serif;
    font-size: 0.7em;
    background-color: #fff;
    padding:10px;
    margin-top:-10px;
    transition: .2s all;
}

.img{
    width:100%;
    display:block;
    margin:0px auto;
    vertical-align:top;
}

.smallImg{
    // background-color:#ccc;
    width:100%;
    height:auto;
    display:inline-block;
}

// BEO

.glassProcess{
    content:url("../media/glass/process_vertical.png");
    width:100%;
    max-width:1400px;
    margin:0px auto;
    display:block;
}

.stakeholder{
    width:100%;
    vertical-align: top;
    margin-bottom: 30px;
}

.overlays{
    opacity:0.1;
    z-index: 3;
    position: absolute;
    transition:1s all;
}

.backToTop{
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;
    width:100px;
    margin: 100px auto 40px auto;
    font-weight: bold;
    color: #888;
    display: inline-block;
}

.backToTop p{
    margin:0px;
}

.arrow{
    font-size:1.5em;
    position: relative;
    top:0px;
    transition: .5s all;
}

.arrowTop{
    width:50px;
    height: 2px;
    background-color: #888;
}
    
.backToTop:hover .arrow,{
    top:-10px;
    color:#222;
    transition: .5s all;
}

.backToTop:hover .arrowTop{
    background-color:#222;
    transition: .5s all;
}
    

@keyframes cf3FadeInOut {
  0% {
        opacity:1;
    }
    40% {
        opacity:1;
    }
    60% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

#gmaps {
    position:relative;
    img.gmap {
        animation-name: cf3FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-direction: alternate;
        position:absolute;
        // transition: 1s opacity;
        top:0;
    }
}