/* body{
    background-image: url('../assets/media/beo/pot front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.workDivision{
    background-color: rgba(230,230,230,0.2) !important;
} */